[tool.poetry]
name = "metrics_layer"
version = "0.1.30"
description = "The open source metrics layer."
authors = ["Paul Blankley <paul@zenlytic.com>"]
keywords = ["Metrics Layer", "Looker", "Analytics"]
readme = "README.md"
license = "Apache 2.0"
homepage = "https://github.com/Zenlytic/metrics_layer"
repository = "https://github.com/Zenlytic/metrics_layer"
documentation = "https://zenlytic.github.io/metrics_layer"

[tool.poetry.dependencies]
python = ">=3.7.1, <3.10"
PyYAML = "^5.4.1"
lkml = "^1.1.0"
requests = "^2.26.0"
GitPython = "^3.1.20"
sqlparse = "^0.4.1"
PyPika = "^0.48.8"
pandas = {version = "^1.2.2", optional = true}
snowflake-connector-python = {version = "~2.5.1", optional = true}
pyarrow = {version = "3.0.0", optional = true}
google-cloud-bigquery = {version = "^2.24.1", optional = true}
Flask = {version = "~<2.0.0", optional = true}
Flask-RESTful = {version = "^0.3.9", optional = true}
Flask-SQLAlchemy = {version = "^2.5.1", optional = true}
Flask-Migrate = {version = "^3.1.0", optional = true}
gunicorn = {version = "^20.1.0", optional = true}
Flask-Bcrypt = {version = "^0.7.1", optional = true}
PyJWT = {version = "^2.1.0", optional = true}
dbt-core = {version = "^1.0.0", optional = true}
dbt-extractor = {version = "^0.4.0", optional = true}
dbt-snowflake = {version = "^1.0.0", optional = true}
dbt-bigquery = {version = "^1.0.0", optional = true}
networkx = "^2.6.3"
click = "^8.0"
importlib-metadata = "^4.8.2"
colorama = "^0.4.4"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "^21.8b0"
flake8 = "^3.9.2"
pre-commit = "^2.15.0"
isort = "^5.9.3"
pytest-cov = "^2.12.1"
pytest-mock = "^3.6.1"

[tool.poetry.extras]
snowflake = ["snowflake-connector-python", "pyarrow", "pandas", "dbt-snowflake"]
bigquery = ["google-cloud-bigquery", "pyarrow", "pandas", "dbt-bigquery"]
flask = ["Flask", "Flask-RESTful", "Flask-SQLAlchemy", "Flask-Bcrypt", "Flask-Migrate", "PyJWT", "gunicorn"]
dbt = ["dbt-core", "dbt-extractor"]
all = ["snowflake-connector-python", "google-cloud-bigquery", "pyarrow", "pandas", "Flask", "Flask-RESTful", "Flask-SQLAlchemy", "Flask-Bcrypt", "Flask-Migrate", "PyJWT", "gunicorn", "dbt-core", "dbt-extractor", "dbt-snowflake", "dbt-bigquery"]

[tool.black]
line-length = 110

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# command_name = module_for_handler : function_for_handler
metrics_layer = 'metrics_layer:cli_group'
ml = 'metrics_layer:cli_group'
